/*
  0     -   600px   Phone
  600   -   900px   Tablet portrait
  900   -   1200px  Tablet landscape
  1200  -   1800px  Normal size
  1800+             Big desktop
  */
/*
  $break point argument choices
  -phone
  -tab-port
  -tab-land
  1em = 16px
  600/16=37.5em
  900/16=56.25em
  1200/16=75em
  1800/16=112.5em
  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Syne:wght@400;600;700;800&display=swap");
/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

:root {
  --text: "Inter", sans-serif;
  --title-text: "Syne", sans-serif;
  --white: #f8f8f8;
  --white-2: #e1e1e1;
  --black: #161616;
  --black-hover: #2d2d2d;
  --hover: #656565; }

body {
  font-family: var(--text); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-text);
  font-weight: 600; }

a {
  text-decoration: none; }

.main {
  width: 100%;
  font-size: 1.4rem; }

.sub__title-box {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-column-gap: 1.5rem;
  align-items: center; }
  .sub__title-box::before {
    content: "";
    height: 1px;
    display: block;
    background-color: currentColor; }
  @media only screen and (max-width: 56.25em) {
    .sub__title-box-title {
      font-size: 2.2rem; } }

/****************/
.blink {
  animation: crescendo 2s alternate infinite ease-in;
  background-image: linear-gradient(213deg, #ecd791, #2fccd2, #6f2ba6, #c87a29);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

@keyframes crescendo {
  0% {
    font-size: 0.2%; }
  100% {
    transform: scale(1); } }

/***************/
.centering {
  display: flex;
  justify-content: center; }

.header {
  padding: 1rem 3rem;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  top: 1rem;
  left: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .header {
      padding: 1rem 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 1rem 1rem; } }

.navbar {
  border-radius: 0.95rem;
  position: fixed;
  width: 92%;
  z-index: 999;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important; }

.navbar-brand {
  font-size: 2rem;
  padding-left: 2rem;
  font-family: var(--title-text);
  font-weight: 700; }

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.nav-link {
  font-size: 1.2rem;
  margin-right: 30px;
  font-family: var(--title-text); }

.hero {
  background-color: var(--white);
  padding-bottom: 4rem;
  height: 85vh;
  clip-path: polygon(100% 0, 100% 70%, 0 100%, 0 100%, 0 0); }
  @media only screen and (max-width: 56.25em) {
    .hero {
      height: 65vh; } }
  @media only screen and (max-width: 37.5em) {
    .hero {
      height: 70vh; } }
  @media screen and (min-width: 1600px) {
    .hero {
      height: 75vh; } }
  @media (min-aspect-ratio: 8 / 5) and (max-width: 840px) {
    .hero {
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%, 0 0);
      height: 100vh; } }

.main-title {
  font-size: 6.5rem; }
  @media only screen and (max-width: 56.25em) {
    .main-title {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .main-title {
      font-size: 3rem;
      padding-top: 3rem; } }
  @media screen and (min-width: 1600px) {
    .main-title {
      padding-top: 6rem; } }

.sub-title {
  margin-bottom: 6rem; }

.hightlight {
  background-image: linear-gradient(213deg, #ecd791, #2fccd2, #6f2ba6, #c87a29);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative; }
  .hightlight::before {
    content: "";
    width: 100%;
    height: 40px;
    background: linear-gradient(to bottom, var(--white), var(--white-2));
    position: absolute;
    bottom: 15px;
    left: 0;
    z-index: -1; }

.chi-sono {
  padding-bottom: 3rem;
  position: relative; }
  .chi-sono p {
    font-size: 1.4rem; }
    @media only screen and (max-width: 37.5em) {
      .chi-sono p {
        font-size: 1rem; } }

.sub__title-box {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-column-gap: 1.5rem;
  align-items: center; }
  .sub__title-box::before {
    content: "";
    height: 1px;
    display: block;
    background-color: currentColor; }

.splide__slide {
  height: 150px;
  width: 350px;
  background: linear-gradient(-45deg, var(--white), var(--white-2));
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; }
  @media screen and (min-width: 768px) {
    .splide__slide {
      transform: scale(0.8, 0.8); }
      .splide__slide.is-active {
        transform: scale(1, 1);
        /* sets the active slide to scaling of 1 (100%) */ }
        .splide__slide.is-active:left {
          transform: scale(0.8, 0.8); } }

.slide--text {
  position: absolute;
  bottom: -21%;
  padding: 5px 7px;
  background-image: linear-gradient(110.3deg, var(--black), var(--black-hover));
  color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  font-family: var(--title-text);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px !important;
  width: 80%;
  text-align: center; }

.splide {
  max-width: 100%; }

.splide__track {
  height: 200px; }

.slide-icon {
  font-size: 50px !important;
  color: var(--black); }

.portfolio {
  padding-bottom: 2rem; }
  .portfolio-btn {
    border: 1px solid var(--black);
    color: inherit;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    transition: all 0.2s;
    position: relative;
    display: block;
    margin-bottom: 1rem;
    transition: all 0.2s; }
    .portfolio-btn::after {
      content: "\2192";
      position: absolute;
      right: 40px; }
    .portfolio-btn:hover {
      outline: 1px solid var(--black);
      outline-offset: 5px;
      background-color: var(--black);
      color: var(--white); }
      .portfolio-btn:hover::after {
        right: 20px; }
    .portfolio-btn:last-child {
      margin-bottom: 4rem; }

.img-project {
  width: 100%;
  margin-bottom: 30px; }

.contactme {
  padding-bottom: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .contactme {
      padding-bottom: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .contactme {
      padding-bottom: 0.8rem; } }

.my-img {
  border-radius: 2000px; }

.social-link {
  color: inherit;
  font-size: 3rem;
  padding: 1rem;
  border-radius: 50%; }
  .social-link:hover {
    color: var(--hover); }
