.contactme {
  padding-bottom: 8rem;

  @include respond(tab-port) {
    padding-bottom: 6rem;
  }
  @include respond(phone) {
    padding-bottom: 3rem;
  }
}
.my-img {
  border-radius: 2000px;
}

.social-link {
  color: inherit;
  font-size: 3rem;
  padding: 1rem;

  border-radius: 50%;

  &:hover {
    color: var(--hover);
  }
}
