.hero {
  background-color: var(--white);
  padding-bottom: 4rem;
  height: 85vh;
  clip-path: polygon(100% 0, 100% 70%, 0 100%, 0 100%, 0 0);
  @include respond(tab-port) {
    height: 65vh;
  }
  @include respond(phone) {
    height: 70vh;
  }
  @media screen and (min-width: 1600px) {
    height: 75vh;
  }

  @media (min-aspect-ratio: 8/5) and (max-width: 840px) {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%, 0 0);
    height: 100vh;
  }
}

.main-title {
  font-size: 6.5rem;
  @include respond(tab-port) {
    font-size: 3.5rem;
  }
  @include respond(phone) {
    font-size: 3rem;
    padding-top: 3rem;
  }
  @media screen and (min-width: 1600px) {
    padding-top: 6rem;
  }
}

.sub-title {
  margin-bottom: 6rem;
}

.hightlight {
  background-image: linear-gradient(213deg, #ecd791, #2fccd2, #6f2ba6, #c87a29);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 40px;
    background: linear-gradient(to bottom, var(--white), var(--white-2));
    position: absolute;
    bottom: 15px;
    left: 0;
    z-index: -1;
  }
}
